version: '3'
services:
  autocloudformer:
    build: .
    environment:
      - AUTO_SCALING_ENABLED=true
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512M
      restart: always
      update_config:
        parallelism: 1
        delay: 10s
      rollback_config:
        parallelism: 1
        delay: 10s
